.topicimages{
    min-width: 100px;
    min-height: 100px;
    width: 200px;
    height: 200px;
}
#topiclinks{
    display: flex;
    flex-flow: wrap;
}
.topicContainers{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#container{
    padding: 50px;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header{
    min-height: 150px;
}
footer{
    min-height:182px;
}
.main{
    flex: 1;
}
.difficulty{
    margin: 20px;
}
.topic_label{
    background-color:#4CD9E1;
}