.topicimages{
    min-width: 100px;
    min-height: 100px;
    width: 200px;
    height: 200px;
}
#topiclinks{
    display: flex;
    flex-flow: wrap;
}
.topicContainers{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#container{
    padding: 50px;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header{
    min-height: 150px;

    background-color: #FFFBFF;
}
footer{
    min-height:182px;

    background-color: #FFFBFF;
}
.main{
    flex: 1;
    background-color: #FFFBFF;
}
.difficulty{
    margin: 20px;
    color: black;
}
.topic_label{
    background-color:#4CD9E1;
}

.question_videos{
    height: calc(50vw/16*9);
    width: 50vw;
    max-width: 100;
    max-height: 630px;
    align-self: center;
}

.question_images {
    width: auto;
    height: auto;
    max-width: 100;
    max-height: 630px;
    align-self: center;
}

#question{
    display: flex;
    flex-direction: column;
}
